@import "body_header_footer_style.css";

.account-container {
    width: 100%;
    max-width: 1500px;
    padding-top: 180px;
    margin: 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.general-info-container {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.name-email {
    position: relative;
    height: auto;

    display: flex;
    flex-flow: column nowrap;
}

.one-line {
    position: relative;
    height: auto;

    display: flex;
    flex-flow: row nowrap;
}

.one-line > span {
    font-size: 20px;
    color: rgb(240, 130, 0);
    padding: 10px 15px;
}

.one-line > .moved-span {
    font-size: 20px;
    color: white;
    padding-left: 10px;
}

.content {
    position: relative;

    width: 100%;
    height: auto;

    max-width: 1500px;

    padding-top: 50px;
    margin: 0 auto;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content > h1 {
    font-size: 30px;
    color: rgb(240, 130, 0);
}

.visit-list {
    width: 100%;
    max-width: 1000px;
    height: auto;

    margin: 50px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: rgb(240, 130, 0);
    font-size: 25px;

    border: 1px solid rgb(240, 130, 0);
}

.list-left {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.list-left > span {
    padding: 10px 10px;
}

.list-right {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
}

.list-right > span {
    padding: 10px 10px;
}

.page-list-container {

    width: 100%;
    max-width: 1000px;
    height: auto;

    margin: 50px 0 0 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: rgb(240, 130, 0);
    font-size: 25px;
    /*border: 1px solid rgb(240, 130, 0);*/
}

.page-list-container a {
    padding: 10px 15px;
}

.page-list-container button {

    width: 50px;
    height: 50px;

    color: rgb(240, 130, 0);
    box-shadow: 0 0 3px 6px black;
    text-shadow: 0 0 2px rgb(240, 130, 0);
    background: black;
    transition: 200ms;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: black;

    font-size: 30px;
}


