body {
    background-color: black;
}


a {
    text-decoration: none;
    color: white;
}


a:hover {
    color: rgb(240, 130, 0);
    border-color: black;
    cursor: pointer;
}

.header-logo img{
    position: relative;
    width: 50%;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 5;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: black;
}


.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}


.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 170px;
    align-items: center;
}


.header-menu {
    color: white;
    font-size: 1.5rem;
    font-family: 'DIN Next LT W01 Bold', sans-serif;
}


.header-list {
    list-style: none;
    text-transform: uppercase;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.header-list span {
    padding: 0 20px;
}


.header-list a:active {
    color: rgb(240, 130, 0);
    font-size: 100%;
    font-weight: bolder;
}


.header-menu li a.sign-in {
    padding: 10px 5px;
    border: 1px solid rgb(210, 100, 0, .8);
}


.header-menu li a.sign-in:hover {
    border-color: black;
    transition:200ms;
}

body.main-body .header-list li a.home {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}


body.services-body .header-list li a.services {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}


body.contacts-body .header-list li a.contacts {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}


body.team-body .header-list li a.team {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}

body.sign-in-body {
    background-color: black;
}


body.sign-in-body .header-list li a.sign-in {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}


body.sign-in-body .header-container {
    background-color: black;
}


body.error-body {
    background-color: black;
}


#app-navigation-toggle {
    display: none;
}

#app-navigation-toggle-label {
    display: none;
}

footer {
    margin-top: 100px;
    background-color: black; /* Set the background color to dark grey */
    color: rgb(240, 130, 0); /* Set the text color to white */
    text-align: center; /* Center the text */
    padding: 20px 0 0 0; /* Add some padding on the top and bottom */
}

footer p {
    margin: 0; /* Remove the margin */
    padding: 10px 0 0 0;
}


@media (max-width: 1199px) {

    #app-navigation-toggle-label {
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        padding: 0;
        text-decoration: none;
        font-weight: normal;
        color: white;

        font-size: 30px;
    }

    #app-navigation-toggle:checked ~ #app-navigation-toggle-label {
        color: rgb(240, 130, 0);
    }

    .container {
        padding: 0 0 0 0;
        width: 100%;
    }

    .header-container {
        padding: 0;
    }

    .header-menu {
        display: none;
        top: 170px;
        /*height: 100%;*/
    }

    .header-logo img {
        padding: 0 0 0 10px;
    }

    #app-navigation-toggle:checked ~ .header-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        /*bottom: 0;*/
        left: 0;
        right: 0;
        background-color: black;
        border-bottom: 1px solid rgb(240, 130, 0);
        z-index: 10;
        width: 100%;
    }


    .header-list {
        list-style: none;
        height: auto;
        display: flex;
        align-content: center;
        flex-flow: column wrap;
        font-size: 30px;
    }


    .header-list li {
        margin-right: 0;
        padding: 0 0 20px 0;
    }

    .header-menu li a.sign-in {
        padding: 0 0 0 0;
        border: none;
    }


    .header-menu li a.sign-in:hover {
        padding: 0 0 0 0;
    }

    footer {
        margin-top: 0;
    }
}

@media (max-height: 428px) {

    .header-body {
        height: 130px;
    }


    .header-container {
        padding: 0;
    }

    .header-menu {
        display: none;
        top: 130px;
    }

    .header-logo img {
        width: 35%;
        padding: 10px 0 0 10px;

    }

    .header-list {
        font-size: 1.3rem;
    }

    .header-list li {
        padding: 0 0 15px 0;
    }
}


@media (max-height: 375px) {

    .header-body {
        height: 115px;
    }

    .header-menu {
        top: 115px;
    }

    .header-logo img {
        width: 35%;
        padding: 15px 0 0 10px;

    }

    .header-list li {
        padding: 0 0 10px 0;
    }

}