@import "body_header_footer_style.css";

.glitch-wrapper{
    padding-top: 200px;
    width: 100vw;
    max-width: 1500px;
    margin: 0 auto;
    text-align:center;
    animation:glitch 2s linear infinite;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


.glitch-text, button{
    font-family: monospace;
    font-weight: bold;
}


.glitch-text {
    position:relative;
    z-index:2;
    opacity:.9;
    margin:0 auto;
    text-shadow:0 0 3px white;
    animation:glitch 3s infinite;
    cursor:pointer;
    font-size:52px;
    color:white;
}

.sign-up {
    position: relative;
    padding: 15px;
    margin: 0 auto;
    color: rgb(240, 130, 0);
}
.sign-up > h1 {
    font-size: 35px;
}

.sign-up-link {
    position: relative;
    width: 100%;

    padding: 100px 0 100px 0;
    font-size: 20px;
    color: rgb(240, 130, 0);
}

.sign-up-link span {
    position: relative;
    width: 40%;
    color: white;
    padding: 14px 0
}

.sign-up-link a {
    width: 100%;
    background-color: black;
    color: rgb(240, 130, 0);
    padding: 14px 20px;

    text-align: center;
    font-weight: bold;

    border: 1px solid rgb(240, 130, 0);
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.sign-up-link a:hover {
    border-color: black;
    transition: 200ms;
    transform: scale(1.05);
}

button {
    display: block;
    color: white;
    box-shadow:0 0 3px 6px rgb(240, 130, 0), 0 0 3px rgb(240, 130, 0);
    text-shadow:0 0 3px black;
    background: black;
    border: 0;
    padding: 7px;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    transition:200ms;
}

button:hover, button:focus, button:active {
    box-shadow:0 0 3px 6px black;
    /*text-shadow:0 0 3px rgb(240, 130, 0);*/
    background:black;
    color: rgb(240, 130, 0);
    transition:200ms;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
}