@import "styles.css";


.services-container {
    background-color: black;
    color: white;
    padding-top: 50px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bar-title {
    position: relative;
    color: white;
    text-decoration: underline;
    font-family: 'DIN Next LT W01 extraBold', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 12px 16px 30px;
}

.navigation-bar-container {
    color: white;
    padding-left: 50px;
    padding-top: 50px;
}


.navigation-bar-container a:hover {
    color: rgb(240, 130, 0);
}


.navigation-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;

    font-size: 1.3rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 12px 16px;
}

.link-to-scroll {
    padding-bottom: 40px;
}


.tickets-container {
    width: 70%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 30px;
}

.ticket {
    display: flex;
    justify-content: center;
}

.info-container {
    width: 80%;
    height: auto;
    position: relative;


    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: 'Calluna', serif;
    padding: 16px 24px;
    margin-top: 50px;
    margin-bottom: 60px;
    border: 4px solid rgb(210, 100, 0);
    border-radius: 5px;
}

.info-container > h2 {
    margin-top: 10px;
}

@media screen and (min-width: 1600px) {
    .info-container {
        width: 55%;
        height: auto;
    }
}

@media screen and (min-width: 1300px) and
(max-width: 1599px){
    .info-container {
        width: 60%;
        height: auto;
    }
}

@media screen and (min-width: 1200px) and
(max-width: 1299px){
    .info-container {
        width: 80%;
        height: auto;
    }
}


#haircut {
    background-image: url("/images/services/haircut_picture_background_755_355.png");
    background-position-x: left;
}

#haircut-shave {
    background-image: url("/images/services/hair_shave_picture_background_755_355.png");
    background-position-x: left;
}

#haircut-beard {
    background-image: url("/images/services/shave_beard_picture_background_750-355.png");
    background-position-x: left;
}

#long-hair {
    background-image: url("/images/services/long_hair_picture_background_750_355.png");
    background-position-x: center;

    position: relative;
    text-align: right;
}

#long-hair-beard {
    background-image: url("/images/services/long_hair_beard_picture_background_750_355.png");
    background-position-x: left;
}


.price {
    padding-top: 30%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}


button {
    font-family: Avenir;

    display:block;
    box-shadow: 0 0 3px 6px white, 0 0 3px white;
    text-shadow: 0  0 3px black;
    background: white;

    border: 0;
    padding: 7px;
    /*margin: 3%;*/
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.2rem;
    transition: 200ms;
}


#long-hair button {
    display: block;
    margin-left: auto;
    margin-right: 0;
}


button:hover, button:focus, button:active {
    box-shadow: 0 0 3px 4px rgb(200, 100, 0);
    text-shadow: 0 0 3px white;
    background: black;
    color: white;
    transition: 100ms;

    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .services-container {
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .info-container {
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;


        background-color: black;
        color: white;
        font-size: 1.5rem;
        font-family: 'Calluna', serif;
        padding: 16px 24px;
        /*margin: 0 auto;*/
        margin-top: 50px;
        margin-bottom: 60px;
        border: 4px solid rgb(210, 100, 0);
        border-radius: 5px;

    }

    .tickets-container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .ticket {
        width: 75%;
    }

    .navigation-bar {
        z-index: 0;
        top: 100px;

        font-size: 1.3rem;

        display: flex;
        flex-flow: row wrap;
    }
    .navigation-bar > a {
        padding: 10px;
        border: 1px solid rgb(210, 100, 0, .8);
    }


    .navigation-bar-container {
        color: white;
        padding-left: 0;
        padding-top: 10px;

        display: flex;
        flex-flow: column nowrap;
    }

    .bar-title {
        margin: 0 auto;
        font-size: 1.5rem;
        padding-bottom: 10px;
        /*width: 100%;*/
    }

    .link-to-scroll {
        padding-top: 10px;
    }

}

@media screen and (max-width: 800px) {
    .ticket {
        width: 90%;
    }
}
@media screen and (max-width: 600px) {

    .ticket {
        width: 100%;
    }

    #haircut {
        text-align: center;
        background-image: none;
    }
    #haircut-shave {
        text-align: center;
        background-image: none;
    }

    #haircut-beard {
        text-align: center;
        background-image: none;
    }

    #long-hair {
        text-align: center;
        background-image: none;
    }

    #long-hair-beard {
        text-align: center;
        background-image: none;
    }

    button {
        margin: 0 auto;
    }

    #long-hair button {
        margin: 0 auto;
    }
}