body {
    background-color: black;
}


a {
    text-decoration: none;
    color: white;
}


a:hover {
    color: rgb(240, 130, 0);;
    border-color: black;
    cursor: pointer;
}


.nav-links a:active {
    color: rgb(240, 130, 0);
    font-size: 100%;
    font-weight: bolder;

}


.header-logo figure {
    position: relative;
    width: 40%;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.logo {
    width: 100%;
    height: auto;
}


.header-container {
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 5;

    max-height: 130px;
    height: auto;
    width: 100%;
    overflow: visible;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


.header-main-menu {
    padding-top: 50px;
    float: right;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 1.7rem;
    font-family: 'DIN Next LT W01 Bold', sans-serif;

}

.nav-links {
    float: right;
    list-style: none;
    width: 80%;
    height: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}


.header-main-menu li a.sign-in {
    padding: 10px;
    border: 1px solid rgb(210, 100, 0, .8);
}

.header-main-menu li a.sign-in:hover {
    padding: 10px;
    border-color: black;
    transition:200ms;
}


#cz_flag {
    float: left;
    width: 40px;
    height: 25px;
}

.home-container {
    padding-top: 100px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-around;
}


.intro-container {
    width: 1500px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.left-side {
    background-image: url("/images/left_side.png");
    background-position-x: right;

    position: relative;
    width: 50%;
    height: auto;
    margin-right: 0;

}


#moto-container {
    position: relative;
    top: 5%;
    left: 10%;
    width: 60%;
    padding: 3px 5px;

    background-color: black;
    color: white;
    font-size: 2.1rem;
    font-family: Futura;

    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
}

#moto {
    position: relative;
    top: 10%;
    left: 10%;
    background-color: black;
    color: rgb(250, 140, 0);
    font-size: 1.6rem;
    font-family: Futura;
    padding: 3px 5px;
    cursor: pointer;
}

.right-side {
    background-image: url("/images/right_side.png");
    background-position-x: left;

    position: relative;
    width: 50%;
    margin-left: 0;
}

.right-side a span {
    position: relative;
    top: 65%;
    left: 60%;
    background-color: black;
    color: white;
    font-size: 2.1rem;
    font-family: 'DIN Next LT W01 Bold', sans-serif;
    padding: 16px 24px;
    cursor: pointer;
    border: 3px solid rgb(200, 100, 0);
    border-radius: 5px;
}

.right-side a.reservation-btn span:hover {

    color: rgb(240, 130, 0);

    box-shadow:0 0 3px 6px black;
    text-shadow:0 0 2px white;
    background: black;
    transition: 200ms;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: black;
}


body.main-body .nav-links li a.home {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}

body.services-body .nav-links li a.services {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}

body.contacts-body .nav-links li a.contacts {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}

body.team-body .nav-links li a.team {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}


body.sign-in-body {
    background-color: white;
}

body.sign-in-body .nav-links li a.sign-in {
    color: white;
    font-size: 100%;
    text-decoration: underline;
    font-weight: bolder;
}

body.sign-in-body .header-container {
    background-color: black;
}

body.error-body {
    background-color: black;
}


@media screen and (max-width: 1400px){
    .nav-links {
        width: 100%;
    }
}

@media screen and (max-width: 1400px){
    #moto-container {
        font-size: 1.6rem;
    }
    #moto {
        font-size: 1.3rem;
    }
    .right-side a span {
        font-size: 1.6rem
    }
}


@media (max-width: 767px) {
    .nav-links {
    }

    .nav-links > li {
        /*padding: 10px 0;*/
    }

    .header-logo figure {
        position: relative;
        width: 25%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

}